@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

/* Nav Inicio */

nav{
    width: 100%;
    height: auto;

    background-color:#00756D ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    width: 6%;
}

nav a img{
    width: 100%;
    height: 100%;
}

nav a:last-child{
    height: 100%;
    padding: 1rem 1.4rem;
    margin-right: 3rem;

    text-align: center;
    text-decoration: none;
    color: white;
    
    border: 2px solid white;
    border-radius: 16px;

    transition: all .3s;
}

nav a:last-child:hover{
    background: white;
    color: black;
}
/* Nav Fim */

/* Main Inicio */

main{
    padding: 10%;
    text-align: center;
}

form{
    width: 100%;

    display: flex;
    justify-content: space-around;
}

/* Candidato Inicio*/
.candidato{
    width: 30%;
    height: 100%;

    border:1px solid black;
    border-radius: 10px;
    
    overflow: hidden;
    box-shadow: 1px 1px 30px rgba(0,0,0,.3);

    transition: all .3s;
}

.candidato:hover{
    cursor: pointer;
    transform:scale(1.1);
}

.candidato img{
    width: 100%;
    height: 500px;
    object-fit:cover;
}

.nomeCandidato{
    width: 100%;
    height: 100%;

    text-align: center;

    font-weight: 600;
    font-size: 1.3rem;
}

.active{
    border:2px solid #00756D ;
    transform: scale(1.1);
}
/* Candidato Fim */

/* Botão Submit inicio*/

button[type = submit]{
    margin-top: 8%;

    background: #00756D;
    color: white;
    font-size: 1.5rem;

    padding: 2% 6%;

    border: none;
    border-radius: 16px;

    box-shadow: 2px 4px 10px rgba(0,0,0,.3);

    transition: all .3s;
}

button[type = submit]:hover{
    cursor: pointer;
}

/* Botão Submit Fim */
/* Main Fim */

/* Responsividade */
@media (max-width:700px) {
    nav a{
        width: 15%;
    }

    form{
        display:block;
    }

    .candidato{
        width: 100%;
        margin: 15% 0;
    }
}