:root {
  --light: #ddfee4;
  --primary: #28cc9e;
  --secondary: #196b69;
  --dark: #132f2b;
  --darker: #0e221f;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
}

p,
h4 {
  margin: 0;
}

/* Navbar */
.logo {
  margin: 0 10px;
}

nav {
  box-shadow: 0 3px 0px var(--darker);
}

.bg-custom {
  background-color: var(--dark);
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0 10px;
}

.right-align {
  margin-left: auto;
}

.nav-item {
  padding: 0 8px;
}

.nav-item:last-of-type {
  margin-right: 10px;
}

/* Card Votação/Relátorio */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Muli";
  height: 100vh;
  margin: 0;
}

.candidato {
  margin: 10px 5px;
  text-align: left;
}

.candidato-name {
  font-size: 18px;
}

.voting-card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 0.5rem;
  text-align: center;
}

.voting-card h4 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.vote-button {
  margin-top: 10px;
  background-color: var(--dark);
  padding: 5px 35px;
  color: #fff;
  font-weight: 600;
}

.vote-button:hover {
  background-color: var(--darker);
  color: #fff;
}

.submit-button {
  margin-bottom: 5px;
}

#feedback-msg {
  /* padding-top: 15px; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.success-feedback {
  color: var(--primary);
}

.error-feedback {
  color: #ff0000;
}

/* Login */

.login-card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0.5rem;
  text-align: center;
}

.login-card h2 {
  font-weight: 600;
}

.login-input {
  margin: 5px 0;
  padding-left: 36px;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.login-button {
  background-color: var(--dark);
  padding: 5px 35px;
  margin: 5px auto;
  color: #fff;
  font-weight: 600;
}

.login-button:hover {
  background-color: var(--darker);
  color: #fff;
}

.login-link {
  text-decoration: none;
  border-bottom: 2px dotted var(--dark);
  color: #000000;
}

/* Icones */

.fa-user,
.fa-eye,
.fa-eye-slash {
  width: 20px;
}
